<div class="card">
    <h2>Employee List</h2>

    <span *ngIf="!EmployeeData"><i class="pi pi-spinner pi-spin"></i>Loading .....</span>


    <p-table #dt *ngIf="EmployeeData" [value]="EmployeeData" sortMode="multiple"
             [columns]="cols"
    >

        <ng-template pTemplate="caption">
            <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
             </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                 <th pSortableColumn="recID">ID # <p-sortIcon field="recID"></p-sortIcon></th>
                <th pSortableColumn="fullName">Full Name<p-sortIcon field="fullName"></p-sortIcon></th>
                <th pSortableColumn="userName">User Name<p-sortIcon field="userName"></p-sortIcon></th>


             </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{row.recID}}</td>
                <td>{{row.fullName}}</td>
                <td>{{row.userName}}</td>
             </tr>
        </ng-template>
    </p-table>


</div>
