<div class="card">
    <h2>Employee List</h2>


    <app-ntgtree-table [inputData]="EmployeeData" [cols]="cols"
                       [EnableAdd]="true" (AddClicked)="DoAdd()"
    ></app-ntgtree-table>


</div>


<p-dialog [(visible)]="ShowAddDialog" [closable]="true" [transitionOptions]="'0ms'" position="center"
          [responsive]="true">
    <ng-template pTemplate="header">
        <h6><i class="pi pi-plus-circle"></i> Add</h6>
    </ng-template>

    <form #Addfrm>

        <span class="p-float-label formgroup">
            <input [(ngModel)]="full_name"  required id="float-input2" name="float-input2" type="text" pInputText>
            <label for="float-input2">Full Name</label>
        </span>
        <br>
        <span class="p-float-label">
            <input [(ngModel)]="userName"  required id="float-input1" name="float-input1" type="text" pInputText>
            <label for="float-input1">User Name</label>
        </span>

    </form>

    <ng-template pTemplate="footer">
        <div style="text-align: right">
            <button [disabled]="!Addfrm.checkValidity() || IsPostingData" pButton label="Add" class="p-button-outlined"
                    (click)="HandleAdd()"
                    icon="pi pi-plus {{(IsPostingData) ? 'pi-spin' : ''}}"></button>

        </div>
    </ng-template>
</p-dialog>
